body{
    width: 1020px;
    /* background-color: cornflowerblue; */
}

.topnav {
    width: 1020px;
    height: 70x; 
    background-color: black;
    vertical-align: top;
    margin-top: 0px;

}
.navitem {
    display: inline-block;
    color: lightslategray;
    width: 160px;
    height: 70px;
    text-align: center;
    vertical-align: top;
    margin-left:30px;
}  

div {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
}
#threeBoxes div{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 0px;
    display: inline-block;
}

#bottombox{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
}

p{
    font-size: 12pt;
}

#bottomsection div{
    display: inline-block;
    vertical-align: top;
}

.button{
    position: absolute;
    margin-top: 380px;
    margin-left:30px;
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 10pt;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: black;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

.button:hover {
    background-color: #4CAF50; 
    color: black;
  }

footer{
    width: 1020px;
    height: 100px;
    background-color: black;
    margin-top: 30px;

}